@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css?family=Raleway:200');

h1 {
  text-align: center;
  font-family: Raleway;
  color: #34495e;
}
.container {
  display: flex;
  justify-content: center;
}


div.item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 220px;
  max-width: 310px;
  width: 100%;
  background: #000000;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

div.item * {
  box-sizing: border-box;
}

div.item img {
  max-width: 100%;
  vertical-align: top;
  height: 210px;
}

div.item i {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  font-size: 34px;
  color: #000000;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #ffffff;
}

div.item a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
}

div.item.blue {
  background-color: #34495e;
}
div.item.blue i {
  color: #34495e;
}
div.item.red {
  background-color: #e74c3c;
}
div.item.red i {
  color: #e74c3c;
}

div.item.green {
  background-color: #16a085;
}
div.item.green i {
  color: #16a085;
}

div.item * {
    transition: all 100ms ease-in-out
}

div.item:hover img {
    opacity: 0.3;
    filter: grayscale(100%);
}

div.item i {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
    transition: 100ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

div.item:hover i {
    transform: translate(-50%, -50%) scale(1);
    opacity: 100;
    transition: 100ms 100ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}



@keyframes buttonColor {
    0% {
        transform: rotate(0deg)
        }
    30%{

        transform: rotate(0deg)
    }
    40%{

        transform: rotate(3deg) scale(0.99);
    }
    60% {
        background-color: #16a085;
    }
    75% {
        background-color: #16a085;
    }

    100% {
        transform: rotate(0deg) scale(1.01);
    }

}

button {
    text-align: center;
    margin: 0 auto;
    border: 0px;
    background-color: teal;
    font-size: 30px;
    color: white;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 20px 50px;

}

button:hover {
    animation-name: buttonColor;
    animation-duration: 200ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count:;
}


@keyframes loader {
    0% {
        transform: translateX(0px) scale(1);
    }


    50% {
        transform: scaleY(1.2) translateX(75px);
        border-radius: 0px;

    }
    
    100% {
        transform: translateX(150px) scale(1);
    }
}

.loader {
    background-color: dodgerblue;
    width:30px;
    height: 10px;
    border-radius: 5px;
    animation: loader 1.5s ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.sun {
    margin-top: 100px;
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 2000px;
    animation: sunAnim 10s linear infinite 0s;
}

.sky {
    background-color: cornflowerblue;
    padding-top: 100px;
    animation: skyAnim 10s;
    margin-bottom: 0px;
}


@keyframes skyAnim {
    0% {
        background-color: gray;
    }
    10% {
        background-color: pink;
    }
    30% {
        background-color: cornflowerblue;
    }
    80% {
        background-color: cornflowerblue;
    }
    100% {
        background-color: gray;
    }
}

@keyframes sunAnim {
    0% {
        background-color: orange
        transform: translate(0px, 100px);
    }
    25% {
        background-color: #f3d216;
        transform: translate(120px, -130px);
    }
    50% {
        transform: translate(240px, -170px);
    }
    75% {
        background-color: #f3d216;
        transform: translate(360px, -130px);
    }
    100% {
        background-color: red;
        transform: translate(480px, 0px);
    }
}

.grass {
    background-color: green;
    padding: 50px;
    transform: translateY(-100px);
}

.ldrr {
    margin: auto;
    border: 8px solid #f8f8f8;
    border-top-color: #16a085;
    width: 60px;
    height: 60px;
    border-radius: 1000px;
    animation: spin 4s linear infinite;
    animation-timing-function: ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        border-top-color: #16a085;
    }
    50% {
        border-top-color: #246cf1;
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(720deg);
        border-top-color: #16a085;
    }
}

